/* Screen sizes */

$screen-desktop: 1200px;
$screen-desktop-sm: 1024px;
$screen-display: 500px;
$screen-mobile: 320px;

/* Colors */

$font: #3d3d3d;
$font-light: #ffffff;

$focus: #536dfe;

$border: #cccccc;
$button: #00c853;
$button-cancel: #f44336;
$button-disabled: #90a4ae;

